<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Interview</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/interviewstyle.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" ></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.24/webcam.js"></script>
        <script language="JavaScript">
            document.addEventListener("DOMContentLoaded", function() {
                var msg = new SpeechSynthesisUtterance();
                var text = "Hello,{{ques}} I am your interviewer. If you are ready, click on the start button to start the interview.";
                msg.text = text;
                window.speechSynthesis.speak(msg);
            });
        </script>
    </head>
    
    <body>
        <div class="header">
            <div class="container">
                <div class="top-icons">
                    
                </div>
                <div class="row">
                    <div class="col-1">
                        <div class="col-lg-6" align="center">
                            <h1 style="background-color:#182842;color:#fff; border-top-right-radius:20px;border-top-left-radius:20px;">Hello,{{name}}</h1>
                            <input type="hidden" name="captured_image_data" id="captured_image_data">
                        </div>
                        <img id="gif"src="{{url_for('static', filename='quesvideo.gif')}}" class="host-img">
                        <div class="contarols">
                                    
                                </div>                       
                    </div>
                    <div class="col-2">
                        <div class="joined">
                            <p>Questions</p>
                            <div>
                                <h3><p id="text">Hello,{{name}} I am your interviewer. If you are ready, click on the start button to start the interview.</p></h3>
                            </div>
                        </div><br><br>
                        <div align="center">
                            <a href="/interview/monitor"><button id="startButton" class="button" disabled>Start</button></a>
                        </div>
                        
                    </div>
                </div>  
            </div>
        </div>
<script language="JavaScript">
    
        function callPythonFunction() {
        fetch('/interview_monitor')
        .then(response => response.text())
        .then(text => console.log(text))
        .catch(error => console.error(error));
    }
    setTimeout(function() {
        document.getElementById('startButton').disabled = false;
        // document.getElementById("startButton").onclick = callPythonFunction;
        document.getElementById('gif').src = "{{url_for('static', filename='ansvideo.gif')}}";

    }, 6000);
        </script>
        
    </body>
</html>